## Oshima, Open Data EDA, AIrbnb Data 전처리

### 필요한 컬럼 추출


### oshima 데이터 전처리

In [5]:
import pandas as pd

In [6]:
oshima_data = pd.read_csv('final_data.csv', index_col=0)
oshima_data.head()

  district                                address            info        date
0      新宿区                東京都新宿区新宿三丁目22-7指田ビル地下1階            死体発見  平成24年11月5日
1      新宿区                        東京都新宿区西新宿一丁目3-9          飛び降り自殺        令和4年
2      新宿区                 東京都新宿区歌舞伎町一丁目27-5 中台ビル  2階サウナロイヤル 死体発見   平成20年1月5日
3      新宿区       東京都新宿区歌舞伎町一丁目20-2アパホテル新宿歌舞伎町タワー↓          飛び降り自殺   令和3年5月11日
4      新宿区  東京都新宿区西新宿七丁目5-9プロスペクト・アクス・ザ・タワー新宿2008           首吊り自殺  平成27年9月26日

In [7]:
oshima_data.district.unique()

array(['新宿区', '台東区', '墨田区', '豊島区', '渋谷区', '港区', '世田谷区', '大田区', '中野区',
       '中央区', '北区', '葛飾区', '杉並区', '江東区', '江戸川区', '文京区', '荒川区', '板橋区',
       '品川区', '千代田区', '足立区', '目黒区', '練馬区', '府中市', '八王子市', '国分寺市', '町田市',
       '青梅市', '調布市', '武蔵野市', '三鷹市', '小金井市', '東村山市', '多摩市', '国立市', '狛江市',
       '西東京市', '小平市', '羽村市', '武蔵村山市', '昭島市', '福生市', '外国外国板橋二丁目639', '日野市',
       '神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402', '神奈川県相模原市南区鵜野森三丁目32−２７', '立川市',
       '東京都清瀬市中清戸二丁目71855', '東京都清瀬市中里三丁目7910 東和コーポ',
       '東京都清瀬市中清戸四丁目9092 グランディール 1階', '東京都清瀬市中清戸四丁目1031',
       '東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階', 'Katsushika Ku',
       'Shinagawa Ku', 'Koto Ku', 'Chiyoda Ku', 'Minato Ku', 'Komae Shi',
       'Chuo Ku', 'Akishima Shi', 'Arakawa Ku', 'Machida Shi',
       'Nishitokyo Shi', 'Meguro Ku', 'Fuchu Shi', 'Kita Ku',
       'Tachikawa Shi', 'Hachioji Shi', 'Mitaka Shi', 'Musashino Shi',
       'Musashimurayama Shi', 'Ome Shi', 'Akiruno Shi', 'Hamura Shi',
       'Fussa Shi', 'Bunkyo Ku', 'Shinjuku Ku', 'Adachi Ku', 'Sumida Ku',
       'Nerima Ku', 'Taito Ku', 'Kodaira Shi', 'Koganei Shi',
       'Higashimurayama Shi', 'Hino Shi', 'Kunitachi Shi',
       'Kokubunji Shi', 'Itabashi Ku', 'Setagaya Ku', 'Ota Ku',
       'Nakano Ku', 'Shibuya Ku', 'Toshima Ku', 'Chofu Shi',
       'Suginami Ku', 'Tama Shi'], dtype=object)

In [8]:
oshima_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4849 entries, 0 to 4848
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  4849 non-null   object
 1   address   4849 non-null   object
 2   info      4849 non-null   object
 3   date      4849 non-null   object
dtypes: object(4)
memory usage: 189.4+ KB

#### district 컬럼 확인
district 는 address 컬럼에서 추출하면 되므로 우선 drop

In [9]:
oshima_data.district.unique()

array(['新宿区', '台東区', '墨田区', '豊島区', '渋谷区', '港区', '世田谷区', '大田区', '中野区',
       '中央区', '北区', '葛飾区', '杉並区', '江東区', '江戸川区', '文京区', '荒川区', '板橋区',
       '品川区', '千代田区', '足立区', '目黒区', '練馬区', '府中市', '八王子市', '国分寺市', '町田市',
       '青梅市', '調布市', '武蔵野市', '三鷹市', '小金井市', '東村山市', '多摩市', '国立市', '狛江市',
       '西東京市', '小平市', '羽村市', '武蔵村山市', '昭島市', '福生市', '外国外国板橋二丁目639', '日野市',
       '神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402', '神奈川県相模原市南区鵜野森三丁目32−２７', '立川市',
       '東京都清瀬市中清戸二丁目71855', '東京都清瀬市中里三丁目7910 東和コーポ',
       '東京都清瀬市中清戸四丁目9092 グランディール 1階', '東京都清瀬市中清戸四丁目1031',
       '東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階', 'Katsushika Ku',
       'Shinagawa Ku', 'Koto Ku', 'Chiyoda Ku', 'Minato Ku', 'Komae Shi',
       'Chuo Ku', 'Akishima Shi', 'Arakawa Ku', 'Machida Shi',
       'Nishitokyo Shi', 'Meguro Ku', 'Fuchu Shi', 'Kita Ku',
       'Tachikawa Shi', 'Hachioji Shi', 'Mitaka Shi', 'Musashino Shi',
       'Musashimurayama Shi', 'Ome Shi', 'Akiruno Shi', 'Hamura Shi',
       'Fussa Shi', 'Bunkyo Ku', 'Shinjuku Ku', 'Adachi Ku', 'Sumida Ku',
       'Nerima Ku', 'Taito Ku', 'Kodaira Shi', 'Koganei Shi',
       'Higashimurayama Shi', 'Hino Shi', 'Kunitachi Shi',
       'Kokubunji Shi', 'Itabashi Ku', 'Setagaya Ku', 'Ota Ku',
       'Nakano Ku', 'Shibuya Ku', 'Toshima Ku', 'Chofu Shi',
       'Suginami Ku', 'Tama Shi'], dtype=object)

In [10]:
oshima_data[oshima_data.district.isin(['外国外国板橋二丁目639', '神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402','神奈川県相模原市南区鵜野森三丁目32−２', '東京都清瀬市中清戸二丁目71855', '東京都清瀬市中里三丁目7910 東和コーポ',\
'東京都清瀬市中清戸四丁目9092 グランディール 1階' , '東京都清瀬市中清戸四丁目1031','東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階'])]

,district,address,info,date
576,外国外国板橋二丁目639,外国外国板橋二丁目639,1008心理的瑕疵あり,20163
654,神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402,神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402,心中,平成28年2月18日
738,東京都清瀬市中清戸二丁目71855,東京都清瀬市中清戸二丁目71855,今建っている家の前の平屋で男性が孤独死。後にミイラ化。,2001年頃
739,東京都清瀬市中里三丁目7910 東和コーポ,東京都清瀬市中里三丁目7910 東和コーポ,101号室 角部屋\r\n告知事項有り,令和4年6月2日
740,東京都清瀬市中清戸四丁目9092 グランディール 1階,東京都清瀬市中清戸四丁目9092 グランディール 1階,告知事項ありの記載,不明
741,東京都清瀬市中清戸四丁目1031,東京都清瀬市中清戸四丁目1031,死体発見,平成28年8月11日
742,東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階,東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階,火災による死亡,平成30年10月25日
2862,外国外国板橋二丁目639,外国外国板橋二丁目639,1008心理的瑕疵あり,20163
2940,神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402,神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402,心中,平成28年2月18日
3024,東京都清瀬市中清戸二丁目71855,東京都清瀬市中清戸二丁目71855,今建っている家の前の平屋で男性が孤独死。後にミイラ化。,2001年頃
3025,東京都清瀬市中里三丁目7910 東和コーポ,東京都清瀬市中里三丁目7910 東和コーポ,101号室 角部屋\r\n告知事項有り,令和4年6月2日
3026,東京都清瀬市中清戸四丁目9092 グランディール 1階,東京都清瀬市中清戸四丁目9092 グランディール 1階,告知事項ありの記載,不明
3027,東京都清瀬市中清戸四丁目1031,東京都清瀬市中清戸四丁目1031,死体発見,平成28年8月11日
3028,東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階,東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階,火災による死亡,平成30年10月25日

In [11]:
# 제거할 district 값
remove_districts = [
    '外国外国板橋二丁目639',
    '神奈川県相模原市南区鵜野森二丁目276鵜野森団地F棟402',
    '神奈川県相模原市南区鵜野森三丁目32−２',
    '東京都清瀬市中清戸二丁目71855',
    '東京都清瀬市中里三丁目7910 東和コーポ',
    '東京都清瀬市中清戸四丁目9092 グランディール 1階',
    '東京都清瀬市中清戸四丁目1031',
    '東京都清瀬市中清戸四丁目847都営中清戸四丁目アパート8号棟3階',
    '神奈川県相模原市南区鵜野森三丁目32−２７'
]

filtered_oshima_data = oshima_data[~oshima_data['district'].isin(remove_districts)].copy()

filtered_oshima_data.district.unique()

array(['新宿区', '台東区', '墨田区', '豊島区', '渋谷区', '港区', '世田谷区', '大田区', '中野区',
       '中央区', '北区', '葛飾区', '杉並区', '江東区', '江戸川区', '文京区', '荒川区', '板橋区',
       '品川区', '千代田区', '足立区', '目黒区', '練馬区', '府中市', '八王子市', '国分寺市', '町田市',
       '青梅市', '調布市', '武蔵野市', '三鷹市', '小金井市', '東村山市', '多摩市', '国立市', '狛江市',
       '西東京市', '小平市', '羽村市', '武蔵村山市', '昭島市', '福生市', '日野市', '立川市',
       'Katsushika Ku', 'Shinagawa Ku', 'Koto Ku', 'Chiyoda Ku',
       'Minato Ku', 'Komae Shi', 'Chuo Ku', 'Akishima Shi', 'Arakawa Ku',
       'Machida Shi', 'Nishitokyo Shi', 'Meguro Ku', 'Fuchu Shi',
       'Kita Ku', 'Tachikawa Shi', 'Hachioji Shi', 'Mitaka Shi',
       'Musashino Shi', 'Musashimurayama Shi', 'Ome Shi', 'Akiruno Shi',
       'Hamura Shi', 'Fussa Shi', 'Bunkyo Ku', 'Shinjuku Ku', 'Adachi Ku',
       'Sumida Ku', 'Nerima Ku', 'Taito Ku', 'Kodaira Shi', 'Koganei Shi',
       'Higashimurayama Shi', 'Hino Shi', 'Kunitachi Shi',
       'Kokubunji Shi', 'Itabashi Ku', 'Setagaya Ku', 'Ota Ku',
       'Nakano Ku', 'Shibuya Ku', 'Toshima Ku', 'Chofu Shi',
       'Suginami Ku', 'Tama Shi'], dtype=object)

### District 컬럼 정리

In [12]:
jp_district_list = [
    '新宿区', '台東区', '墨田区', '豊島区', '渋谷区',
    '港区', '世田谷区', '大田区', '中野区', '中央区',
    '北区', '葛飾区', '杉並区', '江東区', '江戸川区',
    '文京区', '荒川区', '板橋区', '品川区', '千代田区',
    '足立区', '目黒区', '練馬区', '府中市', '八王子市',
    '日野市', '国分寺市', '町田市', '青梅市', '調布市',
    '武蔵野市', 'あきる野市', '三鷹市', '小金井市', '東村山市',
    '多摩市', '国立市', '狛江市', '西東京市', '立川市',
    '小平市', '羽村市', '武蔵村山市', '奥多摩町', '昭島市',
    '福生市'
]

In [13]:
eng_geo_district = [
    'Edogawa Ku', 'Katsushika Ku', 'Shinagawa Ku', 'Koto Ku',
    'Chiyoda Ku', 'Minato Ku', 'Komae Shi', 'Chuo Ku',
    'Fussa Shi', 'Bunkyo Ku', 'Shinjuku Ku', 'Adachi Ku',
    'Sumida Ku', 'Nerima Ku', 'Taito Ku', 'Kodaira Shi',
    'Koganei Shi', 'Higashimurayama Shi', 'Hino Shi', 'Kunitachi Shi',
    'Kokubunji Shi', 'Itabashi Ku', 'Setagaya Ku', 'Ota Ku',
    'Nakano Ku', 'Shibuya Ku', 'Toshima Ku', 'Chofu Shi',
    'Suginami Ku', 'Tama Shi', 'Akishima Shi', 'Arakawa Ku',
    'Machida Shi', 'Nishitokyo Shi', 'Meguro Ku', 'Fuchu Shi',
    'Kita Ku', 'Tachikawa Shi', 'Hachioji Shi', 'Mitaka Shi',
    'Okutama Machi', 'Musashino Shi', 'Musashimurayama Shi', 'Ome Shi',
    'Akiruno Shi', 'Hamura Shi'
]

jp_geo_district = [
    '江戸川区', '葛飾区', '品川区', '江東区',
    '千代田区', '港区', '狛江市', '中央区',
    '福生市', '文京区', '新宿区', '足立区',
    '墨田区', '練馬区', '台東区', '小平市',
    '小金井市', '東村山市', '日野市', '国立市',
    '国分寺市', '板橋区', '世田谷区', '大田区',
    '中野区', '渋谷区', '豊島区', '調布市',
    '杉並区', '多摩市', '昭島市', '荒川区',
    '町田市', '西東京市', '目黒区', '府中市',
    '北区', '立川市', '八王子市', '三鷹市',
    '奥多摩町', '武蔵野市', '武蔵村山市', '青梅市',
    'あきる野市', '羽村市'
]

jp_eng_dict = dict(zip(eng_geo_district, jp_geo_district))

print(jp_eng_dict)

{'Edogawa Ku': '江戸川区', 'Katsushika Ku': '葛飾区', 'Shinagawa Ku': '品川区', 'Koto Ku': '江東区', 'Chiyoda Ku': '千代田区', 'Minato Ku': '港区', 'Komae Shi': '狛江市', 'Chuo Ku': '中央区', 'Fussa Shi': '福生市', 'Bunkyo Ku': '文京区', 'Shinjuku Ku': '新宿区', 'Adachi Ku': '足立区', 'Sumida Ku': '墨田区', 'Nerima Ku': '練馬区', 'Taito Ku': '台東区', 'Kodaira Shi': '小平市', 'Koganei Shi': '小金井市', 'Higashimurayama Shi': '東村山市', 'Hino Shi': '日野市', 'Kunitachi Shi': '国立市', 'Kokubunji Shi': '国分寺市', 'Itabashi Ku': '板橋区', 'Setagaya Ku': '世田谷区', 'Ota Ku': '大田区', 'Nakano Ku': '中野区', 'Shibuya Ku': '渋谷区', 'Toshima Ku': '豊島区', 'Chofu Shi': '調布市', 'Suginami Ku': '杉並区', 'Tama Shi': '多摩市', 'Akishima Shi': '昭島市', 'Arakawa Ku': '荒川区', 'Machida Shi': '町田市', 'Nishitokyo Shi': '西東京市', 'Meguro Ku': '目黒区', 'Fuchu Shi': '府中市', 'Kita Ku': '北区', 'Tachikawa Shi': '立川市', 'Hachioji Shi': '八王子市', 'Mitaka Shi': '三鷹市', 'Okutama Machi': '奥多摩町', 'Musashino Shi': '武蔵野市', 'Musashimurayama Shi': '武蔵村山市', 'Ome Shi': '青梅市', 'Akiruno Shi': 'あきる野市', 'Hamura Shi': '羽村市'}

In [14]:
def convert_to_jp(district):
    return jp_eng_dict[district] if district in eng_geo_district else district

In [15]:
filtered_oshima_data['district'] = filtered_oshima_data['district'].apply(convert_to_jp)
filtered_oshima_data.district.unique()

array(['新宿区', '台東区', '墨田区', '豊島区', '渋谷区', '港区', '世田谷区', '大田区', '中野区',
       '中央区', '北区', '葛飾区', '杉並区', '江東区', '江戸川区', '文京区', '荒川区', '板橋区',
       '品川区', '千代田区', '足立区', '目黒区', '練馬区', '府中市', '八王子市', '国分寺市', '町田市',
       '青梅市', '調布市', '武蔵野市', '三鷹市', '小金井市', '東村山市', '多摩市', '国立市', '狛江市',
       '西東京市', '小平市', '羽村市', '武蔵村山市', '昭島市', '福生市', '日野市', '立川市', 'あきる野市'],
      dtype=object)

In [16]:
filtered_oshima_data.tail()

,district,address,info,date
4844,多摩市,東京都八王子市大塚640-13ハウスオブパレ,隣室で謎の死。当時私が住んでいた307号室に謎の黒い影が頻繁に出て来るようになりました。,2006年4月頃
4845,多摩市,東京都八王子市大塚769-8,代表取締役が恋人のゲイと喧嘩し、刺殺事故,2015年頃
4846,多摩市,東京都多摩市和田2009-1,飛び降り自殺,2018年2月
4847,多摩市,東京都八王子市大塚,1993年ごろかな。10号館あたりで学生が飛び降り自殺をした。何階からかは忘れたけど、渡り廊...,平成24年10月1日
4848,多摩市,東京都日野市程久保820,水死,平成15年1月8日

### 위도 경도 컬럼 생성 
<b>추후 사용자가 선택한 숙소의 반경 내 부동산 사건 사고 정보를 제공하기 위해서는 위도 경도 정보가 필요하다 </b>

<b>haversine 라이브러리를 이용하여  위도 경도 기준 두 위치간 거리를 계산 가능  </b>
 
<b>jageocoder 라이브러리 이용</b> : https://jageocoder.readthedocs.io/ja/latest/index.html

- id: ID in the database
- name: Address notation
- x: longitude
- y: latitude
- level: Address level (1:Prefecture, 2:County, 3:City and 23 district, 4:Ward, 5:Oaza, 6:Aza and - Chome, 7:Block, 8:Building)-
- note: Notes such as city codes
- fullname: List of address notations from the prefecture level to this node

In [2]:
!pip install jageocoder
# !jageocoder install-dictionary jukyo_all_v20.zip

Requirement already satisfied: jageocoder in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (2.0.3)
Requirement already satisfied: Werkzeug>=2.2.3 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (2.3.3)
Requirement already satisfied: deprecated<2.0.0,>=1.2.13 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (1.2.14)
Requirement already satisfied: docopt<0.7.0,>=0.6.2 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (0.6.2)
Requirement already satisfied: geographiclib<3.0,>=2.0 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (2.0)
Requirement already satisfied: jaconv<0.4.0,>=0.3.4 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (0.3.4)
Requirement already satisfied: marisa-trie<0.8.0,>=0.7.8 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (0.7.8)
Requirement already satisfied: portabletab>=0.3.3 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (0.3.3)
Requirement already satisfied: pycapnp<2.0.0,>=1.3.0 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (1.3.0)
Requirement already satisfied: rtree<2.0.0,>=1.0.0 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (1.0.1)
Requirement already satisfied: tqdm<5.0.0,>=4.00.0 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from jageocoder) (4.65.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from deprecated<2.0.0,>=1.2.13->jageocoder) (1.14.1)
Requirement already satisfied: setuptools in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from marisa-trie<0.8.0,>=0.7.8->jageocoder) (66.0.0)
Requirement already satisfied: colorama in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from tqdm<5.0.0,>=4.00.0->jageocoder) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\yun\miniconda3\envs\ds_study\lib\site-packages (from Werkzeug>=2.2.3->jageocoder) (2.1.1)

WARNING: Ignoring invalid distribution -ip (c:\users\yun\miniconda3\envs\ds_study\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\yun\miniconda3\envs\ds_study\lib\site-packages)

In [21]:
!jageocoder get-db-dir

c:\Users\YUN\miniconda3\envs\ds_study\jageocoder\db2

In [5]:
import jageocoder
jageocoder.init()

In [59]:
longitude_list = []
latitude_list = []
full_name_list = []

# 위도,경도  
def get_coordinate(address):
    full_name = address
    lat = 0
    lng = 0
    result = jageocoder.search(address)
    candidates = result['candidates'][0]
    full_name = candidates['fullname']
    lng = candidates['x']
    lat = candidates['y']
    longitude_list.append(lng)
    latitude_list.append(lat)
    full_name_list.append(' '.join(full_name))

In [18]:
filtered_oshima_data['address'].apply(get_coordinate)
filtered_oshima_data['full name'] = full_name_list
filtered_oshima_data['latitude'] = latitude_list
filtered_oshima_data['longitude'] = longitude_list
filtered_oshima_data.tail()

,district,address,info,date,full name,latitude,longitude
4844,多摩市,東京都八王子市大塚640-13ハウスオブパレ,隣室で謎の死。当時私が住んでいた307号室に謎の黒い影が頻繁に出て来るようになりました。,2006年4月頃,東京都 八王子市 大塚 640番地,35.637493,139.422913
4845,多摩市,東京都八王子市大塚769-8,代表取締役が恋人のゲイと喧嘩し、刺殺事故,2015年頃,東京都 八王子市 大塚 769番地,35.638660,139.424469
4846,多摩市,東京都多摩市和田2009-1,飛び降り自殺,2018年2月,東京都 多摩市 和田 2009番地,35.639858,139.427063
4847,多摩市,東京都八王子市大塚,1993年ごろかな。10号館あたりで学生が飛び降り自殺をした。何階からかは忘れたけど、渡り廊...,平成24年10月1日,東京都 八王子市 大塚,35.639523,139.418701
4848,多摩市,東京都日野市程久保820,水死,平成15年1月8日,東京都 日野市 程久保 820番地,35.646976,139.413376

In [19]:
filtered_oshima_data.to_csv('oshima_data_add_latlng.csv')

### Airbnb Inside
- full name 컬럼에 address 추가

In [1]:
import pandas as pd

base_path = '../../Tokyo_Airbnb/data/'
listing_gz = pd.read_csv(base_path+'listings.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')
listing_gz.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,197677,https://www.airbnb.com/rooms/197677,20230629055629,2023-06-29,city scrape,Rental unit in Sumida · ★4.78 · 1 bedroom · 2 ...,<b>The space</b><br />We are happy to welcome ...,NaN,https://a0.muscache.com/pictures/38437056/d27f...,964081,...,4.83,4.53,4.79,M130003350,f,1,1,0,0,1.21
1,776070,https://www.airbnb.com/rooms/776070,20230629055629,2023-06-29,city scrape,Home in Kita-ku · ★4.98 · 1 bedroom · 1 bed · ...,We have been in airbnb since 2011 and it has g...,We love Nishinippori because is nearer to Toky...,https://a0.muscache.com/pictures/efd9f039-dbd2...,801494,...,4.98,4.83,4.91,NaN,f,1,0,1,0,1.89
2,905944,https://www.airbnb.com/rooms/905944,20230629055629,2023-06-29,city scrape,Rental unit in Shibuya · ★4.76 · 2 bedrooms · ...,NEWLY RENOVATED property entirely for you & yo...,Hatagaya is a great neighborhood located 4 min...,https://a0.muscache.com/pictures/miso/Hosting-...,4847803,...,4.90,4.77,4.77,Hotels and Inns Business Act | 渋谷区保健所長 | 31渋健生...,t,5,5,0,0,1.49
3,1016831,https://www.airbnb.com/rooms/1016831,20230629055629,2023-06-29,city scrape,Home in Setagaya · ★4.94 · 1 bedroom · 2 beds ...,"Hi there, I am Wakana and I live with my two f...",The location is walkable distance to famous Sh...,https://a0.muscache.com/pictures/airflow/Hosti...,5596383,...,4.98,4.92,4.89,NaN,f,1,0,1,0,1.96
4,1196177,https://www.airbnb.com/rooms/1196177,20230629055629,2023-06-29,city scrape,Home in 足立区 · ★4.71 · 1 bedroom · 1.5 shared b...,Ｓtay with host.We can help your travel.<br />B...,There are shopping mall near Senjuohashi stati...,https://a0.muscache.com/pictures/72890882/05ec...,5686404,...,4.88,4.67,4.75,NaN,f,1,0,1,0,0.79

### 입력 데이터에 포함 할 컬럼만 가져옴

In [2]:
input_cols = ['neighbourhood_cleansed', 'price', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms' , 'beds', 'review_scores_rating', 'latitude', 'longitude']
airbnb_df = listing_gz[input_cols]
airbnb_df.head()

,neighbourhood_cleansed,price,room_type,accommodates,bathrooms_text,bedrooms,beds,review_scores_rating,latitude,longitude
0,Sumida Ku,"$11,000.00",Entire home/apt,2,1 bath,1.0,2.0,4.78,35.717070,139.826080
1,Kita Ku,"$7,208.00",Private room,1,1 shared bath,NaN,1.0,4.98,35.738440,139.769170
2,Shibuya Ku,"$23,066.00",Entire home/apt,6,1 bath,2.0,4.0,4.76,35.678780,139.678470
3,Setagaya Ku,"$16,000.00",Private room,2,1 shared bath,NaN,2.0,4.94,35.658000,139.671340
4,Adachi Ku,"$10,000.00",Private room,4,1.5 shared baths,NaN,NaN,4.71,35.744731,139.797384

#### Address 추가

In [3]:
def add_jp_address(lng, lat):
    address = jageocoder.reverse(lng, lat)
    if len(address)>0:
        address = ' '.join(address[0]['candidate']['fullname'])
    else:
        address = 'None'

    return address

In [15]:
triangle = jageocoder.reverse(139.422913, 35.637493)
if len(triangle) > 0:
    print(' '.join(triangle[0]['candidate']['fullname'])) # 東京都 八王子市 大塚 640番地

東京都 八王子市 大塚

In [6]:
address_list = []
for index, row in airbnb_df.iterrows():
    address = add_jp_address(row['longitude'], row['latitude'])
    address_list.append(address)

airbnb_df['full name'] = address_list
airbnb_df.tail()

C:\Users\YUN\AppData\Local\Temp\ipykernel_21856\2136413259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_df['full name'] = address_list

,neighbourhood_cleansed,price,room_type,accommodates,bathrooms_text,bedrooms,beds,review_scores_rating,latitude,longitude,full name
11172,Shinjuku Ku,"$12,000.00",Entire home/apt,4,1 bath,1.0,3.0,NaN,35.697773,139.706543,東京都 新宿区 大久保 一丁目
11173,Shinjuku Ku,"$16,000.00",Entire home/apt,3,1 bath,1.0,2.0,NaN,35.698980,139.694320,東京都 新宿区 北新宿 一丁目
11174,Shinjuku Ku,"$16,000.00",Entire home/apt,4,1 bath,1.0,2.0,NaN,35.700080,139.695020,東京都 新宿区 北新宿 一丁目
11175,Shinjuku Ku,"$40,000.00",Entire home/apt,9,1 bath,3.0,6.0,NaN,35.699860,139.693340,東京都 新宿区 北新宿 一丁目
11176,Shinjuku Ku,"$15,000.00",Entire home/apt,4,1 bath,1.0,2.0,NaN,35.698123,139.706093,東京都 新宿区 大久保 一丁目

In [7]:
airbnb_df

,neighbourhood_cleansed,price,room_type,accommodates,bathrooms_text,bedrooms,beds,review_scores_rating,latitude,longitude,full name
0,Sumida Ku,"$11,000.00",Entire home/apt,2,1 bath,1.0,2.0,4.78,35.717070,139.826080,東京都 墨田区 八広 二丁目
1,Kita Ku,"$7,208.00",Private room,1,1 shared bath,NaN,1.0,4.98,35.738440,139.769170,東京都 北区 田端新町 一丁目
2,Shibuya Ku,"$23,066.00",Entire home/apt,6,1 bath,2.0,4.0,4.76,35.678780,139.678470,東京都 渋谷区 幡ケ谷 二丁目
3,Setagaya Ku,"$16,000.00",Private room,2,1 shared bath,NaN,2.0,4.94,35.658000,139.671340,東京都 世田谷区 代沢 二丁目
4,Adachi Ku,"$10,000.00",Private room,4,1.5 shared baths,NaN,NaN,4.71,35.744731,139.797384,東京都 足立区 千住河原町
...,...,...,...,...,...,...,...,...,...,...,...
11172,Shinjuku Ku,"$12,000.00",Entire home/apt,4,1 bath,1.0,3.0,NaN,35.697773,139.706543,東京都 新宿区 大久保 一丁目
11173,Shinjuku Ku,"$16,000.00",Entire home/apt,3,1 bath,1.0,2.0,NaN,35.698980,139.694320,東京都 新宿区 北新宿 一丁目
11174,Shinjuku Ku,"$16,000.00",Entire home/apt,4,1 bath,1.0,2.0,NaN,35.700080,139.695020,東京都 新宿区 北新宿 一丁目
11175,Shinjuku Ku,"$40,000.00",Entire home/apt,9,1 bath,3.0,6.0,NaN,35.699860,139.693340,東京都 新宿区 北新宿 一丁目
11176,Shinjuku Ku,"$15,000.00",Entire home/apt,4,1 bath,1.0,2.0,NaN,35.698123,139.706093,東京都 新宿区 大久保 一丁目

In [104]:
airbnb_df.to_csv('airbnb_data_add_latlng.csv')

### Open Crime 
- 사용할 컬럼 : 手口	市区町村（発生地）	町丁目（発生地）	発生年月日（始期）	発生時（始期）

In [36]:
openData = pd.read_csv('../../Tokyo_OpenData/Integration of downloaded CSV files/TokyoCrime.csv',  encoding='SHIFT_JIS', index_col=0)
openData.tail()

C:\Users\YUN\AppData\Local\Temp\ipykernel_10968\3249239682.py:1: DtypeWarning: Columns (11,12,13,15,17,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  openData = pd.read_csv('../../Tokyo_OpenData/Integration of downloaded CSV files/TokyoCrime.csv',  encoding='SHIFT_JIS', index_col=0)

,罪名,手口,管轄警察署（発生地）,管轄交番・駐在所（発生地）,市区町村コード（発生地）,都道府県（発生地）,市区町村（発生地）,町丁目（発生地）,発生年月日（始期）,発生時（始期）,発生場所の属性,現金以外の主な被害品,被害者の性別,被害者の年齢,現金被害の有無,施錠関係,盗難防止装置の有無,被害者の職業,発生場所,発生場所の詳細
132315,窃盗,自転車盗,小平,鷹の台駅前交番,132110.0,東京都,小平市,津田町２丁目,2021/3/17,21,NaN,NaN,NaN,50歳代,NaN,施錠した,NaN,その他,道路上,その他
132316,窃盗,自転車盗,小平,鷹の台駅前交番,132110.0,東京都,小平市,津田町２丁目,2021/9/30,13,NaN,NaN,NaN,20歳代,NaN,施錠せず,NaN,大学生,その他の住宅（３階建て以下共同住宅等）,駐車（輪）場
132317,窃盗,自転車盗,小平,鷹の台駅前交番,132110.0,東京都,小平市,津田町２丁目,2021/10/15,16,NaN,NaN,NaN,40歳代,NaN,施錠せず,NaN,その他,その他の住宅（３階建て以下共同住宅等）,駐車（輪）場
132318,窃盗,自転車盗,小平,鷹の台駅前交番,132110.0,東京都,小平市,津田町３丁目,2021/12/18,15,NaN,NaN,NaN,20歳代,NaN,施錠した,NaN,その他,その他の住宅（３階建て以下共同住宅等）,駐車（輪）場
132319,窃盗,自転車盗,八丈島,三根駐在所,NaN,東京都,八丈島八丈町,三根,2021/5/31,5,NaN,NaN,NaN,40歳代,NaN,施錠せず,NaN,その他,一戸建住宅,その他

In [81]:
open_data_filter = openData[['手口', '市区町村（発生地）', '町丁目（発生地）', '発生年月日（始期）', '発生時（始期）']]
open_data_filter

           手口 市区町村（発生地）   町丁目（発生地）  発生年月日（始期） 発生時（始期）
0       部品ねらい       中央区  日本橋本石町４丁目 2018-03-25      13
1       部品ねらい       中央区     日本橋１丁目 2018-01-22      09
2       部品ねらい       中央区   日本橋室町１丁目 2018-05-01      15
3       部品ねらい       中央区     八重洲１丁目 2017-12-20      不明
4       部品ねらい       中央区     八重洲２丁目 2018-11-09      11
...       ...       ...        ...        ...     ...
132315   自転車盗       小平市     津田町２丁目 2021-03-17      21
132316   自転車盗       小平市     津田町２丁目 2021-09-30      13
132317   自転車盗       小平市     津田町２丁目 2021-10-15      16
132318   自転車盗       小平市     津田町３丁目 2021-12-18      15
132319   自転車盗    八丈島八丈町         三根 2021-05-31       5

[132320 rows x 5 columns]

In [82]:
open_data_filter.isnull().sum()

手口            0
市区町村（発生地）    32
町丁目（発生地）     73
発生年月日（始期）    26
発生時（始期）       0
dtype: int64

#### Date 형식

In [83]:
# TODO: 'timeOfCrime' 칼럼 데이터 시간 양식이 동일하지 않다. 양식을 통일 하고, 데이터 타입을 datetime(ns)로 변경한다.
# ex) 2023-07-18 , 2023/07/18
# 추후 year, month, day 칼럼으로 분리하여 추가할 예정이다.
def getDateOfCrime(date):
    if pd.isnull(date):
        return pd.NaT

    if isinstance(date, str):
        if '-' in date:
            dateValue = pd.to_datetime(date, format='%Y-%m-%d', errors='coerce')
        elif '/' in date:
            dateValue = pd.to_datetime(date, format='%Y/%m/%d', errors='coerce')
        else:
            dateValue = pd.to_datetime(date, errors='coerce')
    else:
        dateValue = date

    return dateValue


open_data_filter['発生年月日（始期）'] = open_data_filter['発生年月日（始期）'].apply(getDateOfCrime)
open_data_filter.tail()

C:\Users\YUN\AppData\Local\Temp\ipykernel_10968\3222808995.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_data_filter['発生年月日（始期）'] = open_data_filter['発生年月日（始期）'].apply(getDateOfCrime)

          手口 市区町村（発生地） 町丁目（発生地）  発生年月日（始期） 発生時（始期）
132315  自転車盗       小平市   津田町２丁目 2021-03-17      21
132316  自転車盗       小平市   津田町２丁目 2021-09-30      13
132317  自転車盗       小平市   津田町２丁目 2021-10-15      16
132318  自転車盗       小平市   津田町３丁目 2021-12-18      15
132319  自転車盗    八丈島八丈町       三根 2021-05-31       5

### 위도 경도 주소 추가

In [79]:
result = jageocoder.search('小平市 津田町 ２丁目') 

candidates = result['candidates'][0]
full_name = candidates['fullname']
lng = candidates['x']
lat = candidates['y']
print(full_name)

triangle = jageocoder.reverse(lng,lat)
if len(triangle) > 0:
    print(' '.join(triangle[0]['candidate']['fullname'])) # 東京都 八王子市 大塚 640番地	
result

['東京都', '小平市']
東京都 小平市 小川町 二丁目

{'matched': '小平市',
 'candidates': [{'id': 12980026,
   'name': '小平市',
   'x': 139.47747802734375,
   'y': 35.72849655151367,
   'level': 3,
   'priority': 1,
   'note': 'jisx0402:13211/postcode:1870000',
   'fullname': ['東京都', '小平市']}]}

In [90]:
# 위도,경도  
def get_coordinate(address):
    full_name = address
    lat = 0
    lng = 0
    result = jageocoder.search(address)
    candidates = result['candidates'][0]
    full_name = candidates['fullname']
    lng = candidates['x']
    lat = candidates['y']
    longitude_list.append(lng)
    latitude_list.append(lat)
    full_name_list.append(' '.join(full_name))

In [99]:
longitude_list = []
latitude_list = []
full_name_list = []

for index, row in open_data_filter.iterrows():
    address = str(row['市区町村（発生地）']) + ' ' + str(row['町丁目（発生地）'])
    get_coordinate(address)

In [101]:
open_data_filter['full name'] = full_name_list
open_data_filter['latitude'] = latitude_list
open_data_filter['longitude'] = longitude_list
open_data_filter.tail()

C:\Users\YUN\AppData\Local\Temp\ipykernel_10968\423634289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_data_filter['full name'] = full_name_list
C:\Users\YUN\AppData\Local\Temp\ipykernel_10968\423634289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_data_filter['latitude'] = latitude_list
C:\Users\YUN\AppData\Local\Temp\ipykernel_10968\423634289.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_data_filter['longitude'] = longitude_list

,手口,市区町村（発生地）,町丁目（発生地）,発生年月日（始期）,発生時（始期）,full name,latitude,longitude
132315,自転車盗,小平市,津田町２丁目,2021-03-17,21,東京都 小平市,35.728497,139.477478
132316,自転車盗,小平市,津田町２丁目,2021-09-30,13,東京都 小平市,35.728497,139.477478
132317,自転車盗,小平市,津田町２丁目,2021-10-15,16,東京都 小平市,35.728497,139.477478
132318,自転車盗,小平市,津田町３丁目,2021-12-18,15,東京都 小平市,35.728497,139.477478
132319,自転車盗,八丈島八丈町,三根,2021-05-31,5,東京都 八丈町,33.109413,139.790924

In [105]:
open_data_filter.to_csv('open_data_add_latlng.csv')

:

## 자연어 처리

### Oshima 
- 부동산 사건 사고가 표기된 info 컬럼 데이터의 주요 키워드 추출

In [2]:
import pandas as pd

In [4]:
oshima_data = pd.read_csv('./data/oshima_data_add_latlng.csv', index_col=0)
oshima_data.head()

,district,address,info,date,full name,latitude,longitude
0,新宿区,東京都新宿区新宿三丁目22-7指田ビル地下1階,死体発見,平成24年11月5日,東京都 新宿区 新宿 三丁目 22番 7号,35.693264,139.701309
1,新宿区,東京都新宿区西新宿一丁目3-9,飛び降り自殺,令和4年,東京都 新宿区 西新宿 一丁目 3番 9号,35.693218,139.698166
2,新宿区,東京都新宿区歌舞伎町一丁目27-5 中台ビル,2階サウナロイヤル 死体発見,平成20年1月5日,東京都 新宿区 歌舞伎町 一丁目 27番 5号,35.695450,139.700623
3,新宿区,東京都新宿区歌舞伎町一丁目20-2アパホテル新宿歌舞伎町タワー↓,飛び降り自殺,令和3年5月11日,東京都 新宿区 歌舞伎町 一丁目 20番 2号,35.695652,139.701401
4,新宿区,東京都新宿区西新宿七丁目5-9プロスペクト・アクス・ザ・タワー新宿2008,首吊り自殺,平成27年9月26日,東京都 新宿区 西新宿 七丁目 5番 9号,35.696812,139.698044


화재로 인한 사망 317

시체 발견 238

투신자살 168

자살 142

고고사 101

고지사항 있음(부동산정보로부터) 94

목매달린 자살 77

추락사 71

자살 64

고지사항 있음 60







2층,계단올라가서두번째방\n생활보호자 고고사1

60대 남성 고고사 1

건축 완공 후 입주 전 투신자살 1

50대 남성이 병사하다 1

키리가오카 중학교 남학생 투신 자살 1

1층 모퉁이 방 남향 1K (양실 6첩, K 1첩) 전용면적 15.5m2 공지사항 있음\n생활보호상담(60대까지) 1

야요이소 101호실 사체 발견(사후 3주 전후로 추정) 1

임대 단독주택\n철골조 2층 건물(옥상 있음) 주요 채광면 : 남향 5DK (DK 8첩, 양실 9첩, 양실 4첩, 화실 6첩, 
일본식 방 6첩, 일본식 방 6첩) 전용면적 135.12m2 공지사항 有n정기전세(1년) 1

시체 발견 ． 1

다마뉴타운 영산단지 4-2-22호동 105호실 특별모집주택

In [8]:
oshima_data['info'].value_counts()[-10:]

二階、階段をあがって二番目の部屋\n生活保護者の孤高死                                                                        1
60代男性が孤高死                                                                                          1
建築完成後入居前、飛び降り自殺                                                                                    1
50代男性が病死                                                                                           1
桐ヶ丘中学校男子生徒飛び降り自殺                                                                                   1
1階 角部屋 南向き1K（洋室6帖、K1帖） 専有面積15.5㎡\n告知事項あり\n生活保護相談（60代まで）                                            1
やよい荘１０１号室 死体発見（死後３週間前後と推定）                                                                         1
賃貸一戸建て\n鉄骨造 2階建（屋上あり） 主要採光面：南向き5DK（ DK8帖、洋室9帖、洋室4帖、和室6畳、和室6畳、和室6畳） 専有面積135.12㎡\n告知事項有\n定期借家（1年）    1
死体発見 ．                                                                                             1
多摩ニュータウン永山団地4-2-22号棟105号室\n特別募集住宅                                                                  1
Name: info, dtype: int64

In [4]:
open = pd.read_csv('./data/open_data_add_latlng.csv', index_col=0)
airbnb = pd.read_csv('./data/airbnb_data_add_latlng.csv', index_col=0)

In [5]:
oshima_data[:50].to_csv('oshima_data_sample.csv')
open[:50].to_csv('open_data_sample.csv')
airbnb[:50].to_csv('airbnb_data_sample.csv')