In [1]:
import requests 

url = "http://bit.ly/3ZLyF82"
filename = "CSS.css"

try:
    response = requests.get(url) 
    response.raise_for_status()  
    with open(filename, "wb") as file:
        file.write(response.content)
    print("File downloaded successfully.")
except requests.exceptions.RequestException as e: 
    print("Failed to download the file:", e)

File downloaded successfully.

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing:2px; color:#b57edc; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #b57edc">Libraries</p>

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.auto import tqdm
from pandas.io.formats.style import Styler

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

tqdm.pandas()

rc = {
    "axes.facecolor": "#F8F8F8", 
    "figure.facecolor": "#F8F8F8", 
    "axes.edgecolor": "#000000",  
    "grid.color": "#EBEBE7" + "30",
    "font.family": "serif",
    "axes.labelcolor": "#000000",
    "xtick.color": "#000000", 
    "ytick.color": "#000000",
    "grid.alpha": 0.4 
}

sns.set(rc=rc) 
palette = ['#ff7f50', '#ffd700', '#ffdab9', '#9fe2bf',
           '#d2b48c', '#008080', '#98ff98', '#000080']


from colorama import Style, Fore 
blk = Style.BRIGHT + Fore.BLACK
gld = Style.BRIGHT + Fore.YELLOW
grn = Style.BRIGHT + Fore.GREEN
red = Style.BRIGHT + Fore.RED
blu = Style.BRIGHT + Fore.BLUE
res = Style.RESET_ALL

import json

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing:2px; color:#b57edc; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #b57edc">Intro</p>

Identifying safe areas within Tokyo and recommending Airbnb accommodations in those areas for travelers

> We will conduct EDA to explore key areas in Tokyo and collect incidents related to Tokyo real estate in those areas.

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing:2px; color:#b57edc; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #b57edc">Data</p>

**The data** utilizes public information compiled from the Airbnb web-site including the availabiity calendar for 365 days in the future, and the reviews for each listing. 

There are 74 independent variables:
<ul>
<li><strong>listing_gz.csv</strong><ul>
<li><code>id</code> Airbnb's unique identifier for the listing</li>
<li><code>scarpe_id</code> Inside Airbnb "Scrape" this was part of</li>
<li><code>host_id</code> Airbnb's unique identifier for the host/user</li>
<li><code>listing_url</code></li>
<li><code>last_scraped</code> UTC. The date and time this listing was "scraped".</li>
<li><code>source</code> One of "neighbourhood search" or "previous scrape". "neighbourhood search" means that the listing was found by searching the city, while "previous scrape" means that the listing was seen in another scrape performed in the last 65 days, and the listing was confirmed to be still available on the Airbnb site.</li>
<li><code>description</code> Detailed description of the listing</li>
<li><code>neighborhood_overview</code> Host's description of the neighbourhood</li>
<li><code>picture_url</code> URL to the Airbnb hosted regular sized image for the listing</li>
<li><code>host_url</code> The Airbnb page for the host</li>
<li><code>host_name</code> Name of the host. Usually just the first name(s)</li>
<li><code>host_since</code> The date the host/user was created. For hosts that are Airbnb guests this could be the date they registered as a guest.</li>
<li><code>host_location</code> The host's self reported location</li>
<li><code>host_about</code > Description about the host</li>
<li><code>host_response_time</code></li>
<li><code>host_response_rate</code></li>
<li><code>host_acceptance_rate</code> That rate at which a host accepts booking requests.</li>
<li><code>host_is_superhost</code></li>
<li><code>host_thumbnail_url</code></li>
<li><code>host_picture_url</code></li>
<li><code>host_listings_count</code> The number of listings the host has (per Airbnb calculations)</li>
<li><code>host_total_listings_count</code> The number of listings the host has (per Airbnb calculations)</li>
<li><code>host_verifications</code></li>
<li><code>host_has_profile_pic</code></li>
<li><code>host_identity_verified</code></li>
<li><code>neighbourhood</code></li>
<li><code>neighbourhood_cleansed</code> The neighbourhood as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.</li>
<li><code>neighbourhood_group_cleansed</code> The neighbourhood group as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.</li>
<li><code>latitude</code> Uses the World Geodetic System (WGS84) projection for latitude and longitude.</li>
<li><code>longitude</code> Uses the World Geodetic System (WGS84) projection for latitude and longitude.</li>
<li><code>property_type</code> Self selected property type. Hotels and Bed and Breakfasts are described as such by their hosts in this field</li>
<li><code>room_type</code> Entire home/apt|Private room|Shared room|Hotel</li>
<li><code>accommodates</code> The maximum capacity of the listing</li>
<li><code>bathrooms</code> The number of bathrooms in the listing</li>
<li><code>bathrooms_text</code> The number of bathrooms in the listing.</li>
<li><code>bedrooms</code> The number of bedrooms</li>
<li><code>beds</code> The number of bed(s)</li>
<li><code>price</code> daily price in local currency</li>
<li><code>minimum_nights</code> minimum number of night stay for the listing (calendar rules may be different)</li>
<li><code>maximum_nights</code> maximum number of night stay for the listing (calendar rules may be different)</li>
<li><code>minimum_minimum_nights</code> the smallest minimum_night value from the calender (looking 365 nights in the future)</li>
<li><code>maximum_minimum_nights</code> the largest minimum_night value from the calender (looking 365 nights in the future)</li>
<li><code>minimum_maximum_nights</code> the smallest maximum_night value from the calender (looking 365 nights in the future)</li>
<li><code>maximum_maximum_nights</code> the largest maximum_night value from the calender (looking 365 nights in the future)</li>
<li><code>minimum_nights_avg_ntm</code> the average minimum_night value from the calender (looking 365 nights in the future)</li>
<li><code>maximum_nights_avg_ntm</code> the average maximum_night value from the calender (looking 365 nights in the future)</li>
<li><code>calendar_updated</code></li>
<li><code>has_availability</code></li>
<li><code>availability_30</code> avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.</li>
<li><code>availability_60</code> avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.</li>
<li><code>availability_90</code> avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.</li>
<li><code>availability_365</code> avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.</li>
<li><code>number_of_reviews</code> The number of reviews the listing has</li>
<li><code>number_of_reviews_ltm</code> The number of reviews the listing has (in the last 12 months)</li>
<li><code>number_of_reviews_l30d</code> The number of reviews the listing has (in the last 30 days)</li>
<li><code>first_review</code> The date of the first/oldest review</li>
<li><code>last_review</code> The date of the last/newest review</li>
<li><code>review_scores_rating</code></li>
<li><code>review_scores_accuracy</code></li>
<li><code>review_scores_cleanliness</code></li>
<li><code>review_scores_checkin</code></li>
<li><code>review_scores_communication</code></li>
<li><code>review_scores_location</code></li>
<li><code>review_scores_value</code></li>
<li><code>license</code> The licence/permit/registration number</li>
<li><code>calculated_host_listings_count</code> The number of listings the host has in the current scrape, in the city/region geography.</li>
<li><code>calculated_host_listings_count_entire_homes</code> The number of Entire home/apt listings the host has in the current scrape, in the city/region geography</li>
<li><code>calculated_host_listings_count_private_rooms</code> The number of Private room listings the host has in the current scrape, in the city/region geography</li>
<li><code>calculated_host_listings_count_shared_rooms</code> The number of Shared room listings the host has in the current scrape, in the city/region geography</li>
<li><code>reviews_per_month</code> The number of reviews the listing has over the lifetime of the listing</li>

In [3]:
PATH_DF = '//Users//genie//PycharmProjects//PROJECT//jieun//listings_gz.csv'

df = pd.read_csv(PATH_DF)

In [4]:
print(f'{blk}[INFO] Shapes:'
      f'{blk}\n listngs_gz.csv --> {red}{df.shape}')

[INFO] Shapes:
 listngs_gz.csv --> (11177, 75)

**Note**

* There are some missing values in the data, let's explore where and how many

In [5]:
missing = df.isna().sum().reset_index()
missing.columns = ['columns', 'missing_count']

print(f'{blk}[INFO] Any missing values:'
      f'\n\n{red}{missing}{res}')

[INFO] Any missing values:

                                         columns  missing_count
0                                             id              0
1                                    listing_url              0
2                                      scrape_id              0
3                                   last_scraped              0
4                                         source              0
..                                           ...            ...
70                calculated_host_listings_count              0
71   calculated_host_listings_count_entire_homes              0
72  calculated_host_listings_count_private_rooms              0
73   calculated_host_listings_count_shared_rooms              0
74                             reviews_per_month           1252

[75 rows x 2 columns]

In [6]:
def magnify(is_test : bool = False): 
    base_color = '#b57edc'
    if is_test:
        highlight_target_row = []
    else:
        highlight_target_row = dict(selector = 'tr:last-child',
                            props = [('background-color', f'{base_color}' + '20')]) 
    
    return [dict(selector="th", 
                props=[("font-size", "11pt"),
                    ('background-color', f'{base_color}'),
                    ('color', 'white'),
                    ('font-weight', 'bold'),
                    ('border-bottom', '0.1px solid white'), 
                    ('border-left', '0.1px solid white'), 
                    ('text-align', 'right')]),
        
            dict(selector='th.blank.level0', 
                props=[('font-weight', 'bold'),
                        ('border-left', '1.7px solid white'),
                        ('background-color', 'white')]),

            dict(selector="td", 
                    props=[('padding', "0.5em 1em"), 
                        ('text-align', 'right')]),

            dict(selector="th:hover",
                    props=[("font-size", "14pt")]),

            dict(selector="tr:hover td:hover",
                    props=[('max-width', '250px'),
                        ('font-size', '14pt'),
                        ('color', f'{base_color}'),
                        ('font-weight', 'bold'),
                        ('background-color', 'white'),
                        ('border', f'1px dashed {base_color}')]),
            
            dict(selector="caption", 
                props=[(('caption-side', 'bottom'))])] + highlight_target_row

def stylize_simple(df: pd.DataFrame, caption: str) -> Styler:
    """
        Args:
            df: any dataframe (train/test/origin)

        Returns:
            s: the dataframe wrapped into Styler.
    """
    s = df
    s = s.style.set_table_styles(magnify(True)).set_caption(f"{caption}")
    return s

display(stylize_simple(df.head(1), 'listing dataset 1 top row (hover to magnify).'))

**The data** is Detailed Review Data

There are 4 independent variables (excluding `id`, 'listing_id'):
<ul>
<li><strong>reviews.csv</strong><ul>
<li><code>'date'</code></li>
<li><code>'reviewer_id'</code></li>
<li><code>'reviewer_name'</code></li>
<li><code>'comments'</code></li>

In [7]:
PATH_REVIEW = '//Users//genie//PycharmProjects//PROJECT//jieun//reviews.csv'

reviews = pd.read_csv(PATH_REVIEW)
display(stylize_simple(reviews.head(4), 'The reviews dataset 4 top rows (hover to magnify).'))

**The data** is Neighbourhood list for geo filter. Sourced from city or open source GIS files.

There are 2 independent variables:
<ul>
<li><strong>neighbourhoods.csv</strong><ul>
<li><code>'neighbourhood_group'</code></li>
<li><code>'neighbourhood'</code></li>

In [8]:
PATH_NEIGHBOR = '//Users//genie//PycharmProjects//PROJECT//jieun//neighbourhoods.csv'

neighbor = pd.read_csv(PATH_NEIGHBOR)
display(stylize_simple(neighbor.head(4), 'neighbor dataset 4 top rows (hover to magnify).'))

**The data** is GeoJSON file of neighbourhoods of the city.

In [9]:
PATH_JSON = '//Users//genie//PycharmProjects//PROJECT//jieun//neighbourhoods.geojson'
with open(PATH_JSON) as f:
    json_f = json.loads(f.read()) 
jsondf = pd.DataFrame(json_f)
display(stylize_simple(jsondf.head(1), 'json dataset 1 top row (hover to magnify).'))

**The data** is Detailed Calendar Data

In [10]:
PATH_CALENDAR = '//Users//genie//PycharmProjects//PROJECT//jieun//calendar.csv'

calender = pd.read_csv(PATH_CALENDAR)
display(stylize_simple(calender.head(4), 'calendar dataset 4 top rows (hover to magnify).'))

**The data** is Summary information and metrics for listings in Tokyo (good for visualisations)

There are 19 independent variables:
<ul>
<li><strong>listings.csv</strong><ul>
<li><code>id</code> Airbnb's unique identifier for the listing</li>
<li><code>name</code></li>
<li><code>host_id</code></li>
<li><code>host_name</code></li>
<li><code>neighbourhood_group</code> The neighbourhood group as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.</li>
<li><code>neighbourhood</code> The neighbourhood as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.</li>
<li><code>district</code> </li>
<li><code>latitude</code> Uses the World Geodetic System (WGS84) projection for latitude and longitude.</li>
<li><code>longitude</code> Uses the World Geodetic System (WGS84) projection for latitude and longitude.</li>
<li><code>room_type</code> The Airbnb page for the host</li>
<li><code>price</code> daily price in local currency. Note, $ sign may be used despite locale</li>
<li><code>minimum_nights</code> minimum number of night stay for the listing (calendar rules may be different)</li>
<li><code>number_of_reviews</code> The number of reviews the listing has</li>
<li><code>last_review</code > The date of the last/newest review</li>
<li><code>reviews_per_month</code > Description about the host</li>
<li><code>calculated_host_listings_count</code > The number of listings the host has in the current scrape, in the city/region geography.</li>
<li><code>availability_365</code > avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may be available because it has been booked by a guest or blocked by the host.</li>
<li><code>number_of_reviews_ltm</code > The number of reviews the listing has (in the last 12 months)</li>
<li><code>license</code ></li>

In [11]:
print(f'{blk}[INFO] Shapes:'
      f'{blk}\n listngs.csv --> {red}{df.shape}')

[INFO] Shapes:
 listngs.csv --> (11177, 75)

In [12]:
PATH_DF2 = '//Users//genie//PycharmProjects//PROJECT//jieun//listings.csv'

df2 = pd.read_csv(PATH_DF2)
display(stylize_simple(df2.head(4), 'listings dataset 4 top rows (hover to magnify).'))

**Note**

* There are some missing values in the data, let's explore where and how many

In [13]:
missing = df2.isna().sum().reset_index()
missing.columns = ['columns', 'missing_count']

print(f'{blk}[INFO] Any missing values:'
      f'\n\n{red}{missing}{res}')

[INFO] Any missing values:

                           columns  missing_count
0                               id              0
1                             name              0
2                          host_id              0
3                        host_name              0
4              neighbourhood_group          11177
5                    neighbourhood              0
6                         district              0
7                         latitude              0
8                        longitude              0
9                        room_type              0
10                           price              0
11                  minimum_nights              0
12               number_of_reviews              0
13                     last_review           1252
14               reviews_per_month           1252
15  calculated_host_listings_count              0
16                availability_365              0
17           number_of_reviews_ltm              0
18                         license            940

**The data** is tokyo district dataset

In [14]:
PATH_TOKYO_DISTRICT = '//Users//genie//PycharmProjects//PROJECT//jieun//tokyo_district.xlsx'

tokyo_district = pd.read_excel(PATH_TOKYO_DISTRICT)
tokyo_district = tokyo_district.drop(columns = ['Unnamed: 2'])
display(stylize_simple(tokyo_district.head(10), 'tokyo_district data'))

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing:2px; color:#b57edc; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #b57edc">EDA</p>

In [15]:
main_district_df = df['neighbourhood'].value_counts().reset_index()
main_district_df.columns = ['neighbourhood', 'count']
display(stylize_simple(main_district_df.head(10), 'main neighbourhood 관련 data'))

In [17]:
main_district_df2 = df2['district'].value_counts().reset_index()
main_district_df2.columns = ['district', 'count']
display(stylize_simple(main_district_df2, '특별구 구 구청 data'))