In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
opendata = pd.read_csv('/Users/genie/Documents/COLLABORATION/AirbnbWise/Modeling/Data/OpenData/open_data_translated.csv')
opendata.drop(columns = ['Unnamed'], inplace = True)
opendata.head()

,method,state,town,date,time,full name,latitude,longitude,translated
0,部品ねらい,中央区,日本橋本石町４丁目,2018-03-25,13,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃
1,部品ねらい,中央区,日本橋１丁目,2018-01-22,09,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃
2,部品ねらい,中央区,日本橋室町１丁目,2018-05-01,15,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃
3,部品ねらい,中央区,八重洲１丁目,2017-12-20,不明,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃
4,部品ねらい,中央区,八重洲２丁目,2018-11-09,11,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃

In [3]:
opendata['method'].value_counts()

自転車盗        110081
車上ねらい         9082
部品ねらい         6133
オートバイ盗        4365
自動販売機ねらい      1435
ひったくり          683
自動車盗           541
Name: method, dtype: int64

In [4]:
opendata.loc[:, 'crimeType'] = '절도'

In [5]:
oshimaCrime = pd.read_csv('/Users/genie/Documents/COLLABORATION/AirbnbWise/Dataset_Processing/jieun/oshima_tagging_category.csv')
display(oshimaCrime.tail(), opendata.head())

,district,address,info,date,full name,latitude,longitude,translate,crimeType
2913,杉並区,東京都杉並区善福寺四丁目16-16,孤高死,2017年前後,東京都 杉並区 善福寺 四丁目 16番 16号,35.719303,139.591202,고고사,고독사
2914,杉並区,東京都杉並区善福寺三丁目15-16,赤いルーテシア車内で焼身自殺,令和3年12月26日,東京都 杉並区 善福寺 三丁目 15番 16号,35.717609,139.592102,붉은 루테시아 차 안에서 구운 자살,자살
2915,杉並区,東京都杉並区善福寺三丁目6-13,心理的瑕疵あり,不明,東京都 杉並区 善福寺 三丁目 6番 13号,35.716324,139.592682,심리적 하자 있음,부동산하자
2916,杉並区,東京都杉並区上井草三丁目37-15プチコ－トＵ201号室,「心理的瑕疵あり」と説明あり (LIFULL HOME'S - エイブル上石神井店),不明,東京都 杉並区 上井草 三丁目 37番 15号,35.723637,139.600052,"""심리적 하자 있음""이라고 설명 있음 (LIFULL HOME'S - 에이블 카미이시...",부동산하자
2917,多摩市,東京都多摩市諏訪四丁目3-3都営諏訪団地4-3-3号棟105,自殺&死体発見,平成24年8月7日,東京都 多摩市 諏訪 四丁目 3番,35.622181,139.458511,자살 & 시체 발견,시체

,method,state,town,date,time,full name,latitude,longitude,translated,crimeType
0,部品ねらい,中央区,日本橋本石町４丁目,2018-03-25,13,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
1,部品ねらい,中央区,日本橋１丁目,2018-01-22,09,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
2,部品ねらい,中央区,日本橋室町１丁目,2018-05-01,15,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
3,部品ねらい,中央区,八重洲１丁目,2017-12-20,不明,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
4,部品ねらい,中央区,八重洲２丁目,2018-11-09,11,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도

In [6]:
#* oshima 데이터 address 칼럼 모든 데이터에 東京都가 들어있다. 東京都 제거
# for idx in tqdm_notebook(range(len(oshimaCrime))):
#     oshimaCrime.loc[idx, 'full name'] = oshimaCrime.loc[idx, 'full name'].replace('東京都', '')

In [7]:
opendata.rename(columns = {'state' : 'district', 'method' : 'info', 'translated' : 'translate'}, inplace = True)

In [8]:
oshimaCrime.drop(columns = ['address'], inplace = True)
opendata.drop(columns = ['town', 'time'], inplace = True)

In [9]:
new_column_order = ['info', 'district', 'date', 'full name', 'latitude', 'longitude', 'translate', 'crimeType']
oshimaCrime = oshimaCrime[new_column_order]
display(oshimaCrime.tail(), opendata.head())

,info,district,date,full name,latitude,longitude,translate,crimeType
2913,孤高死,杉並区,2017年前後,東京都 杉並区 善福寺 四丁目 16番 16号,35.719303,139.591202,고고사,고독사
2914,赤いルーテシア車内で焼身自殺,杉並区,令和3年12月26日,東京都 杉並区 善福寺 三丁目 15番 16号,35.717609,139.592102,붉은 루테시아 차 안에서 구운 자살,자살
2915,心理的瑕疵あり,杉並区,不明,東京都 杉並区 善福寺 三丁目 6番 13号,35.716324,139.592682,심리적 하자 있음,부동산하자
2916,「心理的瑕疵あり」と説明あり (LIFULL HOME'S - エイブル上石神井店),杉並区,不明,東京都 杉並区 上井草 三丁目 37番 15号,35.723637,139.600052,"""심리적 하자 있음""이라고 설명 있음 (LIFULL HOME'S - 에이블 카미이시...",부동산하자
2917,自殺&死体発見,多摩市,平成24年8月7日,東京都 多摩市 諏訪 四丁目 3番,35.622181,139.458511,자살 & 시체 발견,시체

,info,district,date,full name,latitude,longitude,translate,crimeType
0,部品ねらい,中央区,2018-03-25,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
1,部品ねらい,中央区,2018-01-22,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
2,部品ねらい,中央区,2018-05-01,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
3,部品ねらい,中央区,2017-12-20,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도
4,部品ねらい,中央区,2018-11-09,北海道 札幌市 中央区,43.055359,141.341003,부품 쫄깃,절도

In [10]:
totalCrimeData = pd.concat([oshimaCrime, opendata])
totalCrimeData.to_csv('totalCrimeData.csv', index=False)

In [11]:
totalCrimeData.head()

,info,district,date,full name,latitude,longitude,translate,crimeType
0,死体発見,新宿区,平成24年11月5日,東京都 新宿区 新宿 三丁目 22番 7号,35.693264,139.701309,시체 발견,시체
1,飛び降り自殺,新宿区,令和4年,東京都 新宿区 西新宿 一丁目 3番 9号,35.693218,139.698166,뛰어 내리는 자살,자살
2,2階サウナロイヤル 死体発見,新宿区,平成20年1月5日,東京都 新宿区 歌舞伎町 一丁目 27番 5号,35.695450,139.700623,2층 사우나 로얄 시체 발견,시체
3,飛び降り自殺,新宿区,令和3年5月11日,東京都 新宿区 歌舞伎町 一丁目 20番 2号,35.695652,139.701401,뛰어 내리는 자살,자살
4,首吊り自殺,新宿区,平成27年9月26日,東京都 新宿区 西新宿 七丁目 5番 9号,35.696812,139.698044,목 매달아 자살,자살

In [12]:
totalCrimeData.shape

(135238, 8)

In [13]:
totalCrimeData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135238 entries, 0 to 132319
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   info       135238 non-null  object
 1   district   135206 non-null  object
 2   date       135212 non-null  object
 3   full name  135238 non-null  object
 4   latitude   135238 non-null  float64
 5   longitude  135238 non-null  float64
 6   translate  135238 non-null  object
 7   crimeType  135238 non-null  object
dtypes: float64(2), object(6)
memory usage: 9.3+ MB