In [36]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('/Users/genie/Documents/COLLABORATION/AirbnbWise/Pipeline/csv/preprocessed_user_totaldb.csv')
df.loc[df['name'] =='Rental unit in Shinjuku City']

,user_id,host_id,name,review_scores_rating,bedrooms,beds,bathrooms,price,accommodates,minimum_nights,...,Setagaya Ku,Shibuya Ku,Shinagawa Ku,Shinjuku Ku,Suginami Ku,Sumida Ku,Tachikawa Shi,Taito Ku,Tama Shi,Toshima Ku
2,2,481729050,Rental unit in Shinjuku City,5.0,1.0,1.0,1.0,21600.0,3,1,...,0,0,0,1,0,0,0,0,0,0
31,31,481729050,Rental unit in Shinjuku City,5.0,1.0,1.0,1.0,18000.0,3,1,...,0,0,0,1,0,0,0,0,0,0
35,35,115432704,Rental unit in Shinjuku City,5.0,1.0,4.0,1.0,25529.0,4,1,...,0,0,0,1,0,0,0,0,0,0
66,66,462983474,Rental unit in Shinjuku City,5.0,1.0,1.0,1.0,7444.0,2,2,...,0,0,0,1,0,0,0,0,0,0
90,90,219636782,Rental unit in Shinjuku City,5.0,1.0,1.0,1.0,9714.0,3,3,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11172,11172,294322772,Rental unit in Shinjuku City,0.0,1.0,3.0,1.0,12000.0,4,2,...,0,0,0,1,0,0,0,0,0,0
11173,11173,518343589,Rental unit in Shinjuku City,0.0,1.0,2.0,1.0,16000.0,3,2,...,0,0,0,1,0,0,0,0,0,0
11174,11174,518343589,Rental unit in Shinjuku City,0.0,1.0,2.0,1.0,16000.0,4,2,...,0,0,0,1,0,0,0,0,0,0
11175,11175,518343589,Rental unit in Shinjuku City,0.0,3.0,6.0,1.0,40000.0,9,2,...,0,0,0,1,0,0,0,0,0,0
11176,11176,518119710,Rental unit in Shinjuku City,0.0,1.0,2.0,1.0,15000.0,4,2,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
df.loc[df['review_scores_rating'] == 258668827].head(20)

,user_id,host_id,review_scores_rating,bedrooms,beds,bathrooms,price,accommodates,minimum_nights,Adachi Ku,...,Setagaya Ku,Shibuya Ku,Shinagawa Ku,Shinjuku Ku,Suginami Ku,Sumida Ku,Tachikawa Shi,Taito Ku,Tama Shi,Toshima Ku
797,797,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
798,798,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
799,799,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
801,801,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
802,802,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
803,803,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
804,804,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
807,807,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
810,810,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
812,812,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
813,813,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
814,814,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
816,816,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
822,822,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
825,825,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
857,857,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
893,893,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
894,894,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
896,896,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
897,897,258668827,5.0,1.0,1.0,1.0,50000.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0