In [1]:
import glob

data = glob.glob('tokyo/*')

In [6]:
import pandas as pd
from tqdm import tqdm_notebook

tokyoKannaigaiyou = pd.DataFrame()
for idx in range(len(data)):
    if 'kannaigaiyou' in data[idx]:
        df = pd.read_csv(data[idx], encoding='SHIFT_JIS')
        tokyoKannaigaiyou   = pd.concat([tokyoKannaigaiyou  ,df])
tokyoKannaigaiyou = tokyoKannaigaiyou .drop(columns = 'Unnamed: 0')

C:\Users\lucky\AppData\Local\Temp\ipykernel_15624\667314797.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for idx in tqdm_notebook(range(len(data))):

  0%|          | 0/1134 [00:00<?, ?it/s]

In [7]:
tokyoKannaigaiyou .reset_index(drop=True, inplace=True)

In [8]:
tokyoKannaigaiyou .columns

Index(['要素１', '要素２', '要素３', '1', '2', '3', '4', '5', '6', '7',
       ...
       'ＢＣＧ（件）', 'Ｘ線検査間接（件）', 'Ｘ線検査直接（件）', '発見された患者数（人）', '健康診断', '集団検診',
       '健康相談', '牛舎（ｍ２）', '豚舎（ｍ２）', 'バー（件）'],
      dtype='object', length=1015)

#### 이 데이터는 null값이 대부분이고, 치안과 관련 없는 데이터이므로 사용하지 않는다.

In [9]:
tokyoKannaigaiyou

,要素１,要素２,要素３,1,2,3,4,5,6,7,...,ＢＣＧ（件）,Ｘ線検査間接（件）,Ｘ線検査直接（件）,発見された患者数（人）,健康診断,集団検診,健康相談,牛舎（ｍ２）,豚舎（ｍ２）,バー（件）
0,海面気圧＋１０００ｈＰａ,NaN,NaN,16.1,17.2,12.8,13,13.3,7.5,9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,気温,平均気温,NaN,10.8,12,13.4,15.4,20,22.4,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,気温,最高,平均℃,13.2,14.5,16,18.1,23.1,24.9,27.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,気温,最高,極値℃,17.8,19.1,21,23.3,27.6,27.6,30.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,気温,最高,その起日,20,19,22,22,25,26,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN